<h1> Welcome to Super Rentals </h1>
<ul>
  {{#each model as |city|}}
     <li>{{city.city}}, {{city.state}}</li>
  {{/each}}
</ul>

We hope you find exactly what you're looking for in a place to stay.
